
<!-- <div style="background-image:url(https://images.unsplash.com/photo-1502261159926-e31d770eb6e1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9efa0661e53144c027f5cea31760a31a&auto=format&fit=crop&w=2081&q=80"> -->
<div class="full-page-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">The Gratefulness Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/nuggets">Inspiration</a>
                <a class="nav-item nav-link" href="/admin">(Admin)</a>
            </div>
        </div>
    </nav>
    <div id="map">
        <!-- <div class="jumbotron"> -->
            <div class="h-100 row align-items-center">
                <div class="col" style="background:none">

                    <form method="#" id="newNugget">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <input type="text" class="form-control" name ="description" id="nugget-description" placeholder="I'm grateful for..." aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" value="{{nugget.description}}">
                                <input type="submit" style="visibility: hidden; display:none" />

                                <!-- <a id="nuggetsbutton" href="/nuggets">
                                        <button type="button" id="nuggets" class="btn btn-primary">What're others grateful for?</button>

                                    </a> -->

                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <!-- original jubotron end div -->
        </div>
    </div>
</div>
<!-- </div> -->
